<div class="container">
    <% @recipes.each do |recipe| %>
    <ul class="list-group">
       <li class="list-group-item d-flex justify-content-between mb-4">
        <div>
          <h2><%= recipe.name %></h2>
          <% if can? :destroy, recipe %>
          <div class="d-flex">
            <%= link_to  "DETAILS", recipe_path(recipe), class:"btn btn-primary me-4" %>
            <%= link_to "REMOVE", recipe, data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' }, class:"btn btn-danger" %>
          </div>
          <% end %>
        </div>
          <p class="ms-4"><%= recipe.description %></p>
       </li>
    </ul>
    <%end%>
</div>
