<div class="container d-flex flex-column">
  <h1 class="align-self-center">public recipes</h1>
  <ul class="list-group">
    <% @recipes.each do |recipe| %>
    <li class="list-group-item d-flex justify-content-between mb-4">
      <div>
        <h2><%= link_to recipe.name.capitalize, recipe_path(recipe.id) %></h2>
        <p>By: <%= recipe.user.name %></p>
      </div>
      <div>
        <p>Total food Items: <%= recipe.recipe_food.count(:id) %></p>
        <p>
          Total Price: $ <%= recipe.recipe_food.sum { |item| item.food.price *
          item.quantity} %>
        </p>
      </div>
    </li>
    <% end %>
  </ul>
</div>
